{%extends 'shop/base.html'%}
{%block content%}

{%if product%}
<div class="container">
<div class="col-lg-9">

        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="{{product.product_image.url}}" alt="">
          <div class="card-body">
            <h3 class="card-title">{{product.product_name}}</h3>
            <h4>$24.99</h4>
            <p class="card-text">{{product.product_descreption}}</p>
            <p>${{product.product_price}}</p>
            <form method="post" action="{%url 'cart:cart'%}">
		{%csrf_token%}
		<input type="hidden" name="pid" value={{product.id}}>
		<input type="number" min=1 max=10 name="qty" value="1">
		<input type="hidden" name="amount" value={{product.product_amount}}>
		<input type="submit" name="sub" value="Add To cart" >
		</form>
            
          </div>
        </div>
</div>
</div>






{%endif%}
{%endblock content%}