{%extends 'shop/base.html'%}
{%block content%}
<div class="container">
{%if categories%}	
<h5>Category {%if category%}{{category}}{%endif%}</h5>
    <div class="row">

      <div class="col-lg-3">

        
        <div class="list-group">
        {%for category in categories%}
          <a class="list-group-item list-group-item-action " href="{%url 'shop:landing' category.id%}" class="list-group-item">{{category.category_name}}</a>
        {%endfor%}
          
        </div>

      </div>
      {%endif%}  

{%if products%}

{%for product in products%}
<div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
             <a href="{%url 'shop:descreption' product.id %}">
  	 <img src="{{product.product_image.url}}"  width="200" height="140">
  	 </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{%url 'shop:descreption' product.id %}">{{product.product_name}}</a>
                </h4>
                <h5>${{product.product_price}}</h5>
                <p class="card-text"><form method="post" action="{%url 'cart:cart'%}">
		{%csrf_token%}
		<input type="hidden" name="pid" value={{product.id}}>
		<input type="number" min=1 max=10 name="qty" value="1">
		<input type="hidden" name="amount" value={{product.product_price}}>
		<input type="submit" name="sub" value="Add To cart">
		</form></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>


{%endfor%}
</div>
{%else%}
<h5 class="card-title">No products</h5>
{%endif%}

{%endblock content%}